%style
  body {background:#262626;}

.home
  %header
    %h1.center.logo
      = precede "INVEST" do
        %span{class: "orange"} DEX

  .container
    .row  
      .col-md-4.col-md-offset-2
        %a{href: "./entries/", class: "btn btn-buy"}
          Demo
          .btn-buy-subtext
            Try it out!
        %p
          .small
            = succeed "!" do
              Already a member? No problem.
              = link_to "Sign in", "#"
      .col-md-4
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  .black-bar
    .container
      .row.col-md-7
        %h3.light-yellow Value proposition 2
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.  
  .container
    .row.col-md-7.col-md-offset-5
      %h3.light-yellow Value proposition 3
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
= render "fittext"