@import "variables";
@import "bootstrap";


// Universal
//

body {
  padding-top: 70px;
}


.faded-blue {
  color: $faded-blue;
}

.orange {
  color: $orange;
}

.light-yellow {
  color: $light-yellow;
}

.black-bar {
  color: white;
  background: black;
  margin-top: 1em;
  margin-bottom: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
}

.center {
  text-align: center;
}

// Navigation
//

.navbar-brand {
  color: $faded-blue !important;
  font-family: $secondary-font;
  font-weight: $blackletter;
  letter-spacing: 1px;
}

// Home page
//

.home {
  color: white;
    a { text-decoration: none;
    &:link, &:visited {
    color: $light-yellow;
    }
  }
}

.logo {
  color: $faded-blue;
  font-family: $secondary-font;
  font-size: 600px;
  font-size: 60rem;
  line-height: 1;
  text-align: center;
  font-weight: $blackletter;
  letter-spacing: 4px;
}

.btn-buy {
  display: block;
  background: $orange;
  font-family: $secondary-font;
  font-size: $font-size-h2;
  padding: 1rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: $blackletter;
  letter-spacing: 2px;
}

.btn-buy .btn-buy-subtext {
  font-family: $font-family-base;
  font-size: $font-size-base;
}