// Palette
//
$faded-blue: #94a5b1;
$light-yellow: #f2e9c0;
$orange: #ff7130;

// Typography
//
$font-size-base: 19px;
$line-height-base: 32/19;
$font-family-sans-serif: "europa", sans-serif;
$secondary-font: "ff-good-headline-web-pro-con", sans-serif;
$blackletter: 900;
$light: 300;

// Navbar
//
$navbar-height: 70px;
$navbar-inverse-link-color:white;

// Brands
//
$brand-primary: $faded-blue;
$brand-warning: $orange;