$font-size-base: 19px;
$line-height-base: 32/19;
$font-family-sans-serif: "europa", sans-serif;
$secondary-font: "mono45-headline", sans-serif;
$orange: #ff7130;
$brand-warning: $orange;
$faded-blue: #94a5b1;
$light-yellow: #f2e9c0;