<%= render "layouts/navbar" %>
<% content_for :content do %>
  <div class="container">
    <%= content_for?(:devise_content) ? yield(:devise_content) : yield %>
  </div>
<% end %>
<%= render template: "layouts/application" %>